<div ng-controller="ArticleController as ctrl">

  <div class="b-article">
    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A autem consequuntur, deleniti deserunt dolor molestias
      similique! Architecto blanditiis ea incidunt laudantium praesentium quos, ullam. Accusamus alias animi at corporis
      cum
      cupiditate debitis delectus dignissimos dolores doloribus ducimus ea error, exercitationem facilis illum ipsa,
      itaque
      iusto laboriosam laborum libero molestiae necessitatibus odio omnis pariatur, perferendis praesentium provident
      quaerat quasi rem repudiandae saepe sapiente sit sunt temporibus unde voluptatem voluptatum! Architecto, assumenda
      blanditiis ex maiores veniam veritatis voluptates. Accusamus atque fugit id magnam, quo ullam! Assumenda, autem
      cum
      cumque id impedit laboriosam libero magni, molestias natus obcaecati quae quam quibusdam quos rerum sint, unde ut!
      Doloremque fugiat harum, itaque magnam minus molestiae, nam odio quia quo quod quos, repudiandae similique sint
      soluta
      voluptate? Culpa delectus dolor dolorem dolores earum eius, et fuga incidunt itaque magni, maiores minima, modi
      non
      officiis omnis repudiandae temporibus vitae voluptates. Amet aspernatur at delectus fuga hic in ipsa laboriosam
      laudantium maiores optio perspiciatis praesentium quasi quibusdam, repellendus repudiandae suscipit ullam unde
      veritatis voluptas voluptate. Aliquid aspernatur eaque numquam praesentium quo sunt, tenetur voluptate. Architecto
      aspernatur at aut commodi excepturi iste officia porro reprehenderit rerum saepe, sit soluta sunt tempore
      temporibus
      ullam! Ad consequuntur, culpa, debitis iure iusto maiores necessitatibus odit placeat possimus, praesentium quae
      quibusdam repellendus saepe sit tempore veritatis voluptate. Accusantium ad consequatur culpa cumque ducimus eius
      explicabo in iste maxime, nam necessitatibus neque nihil, placeat praesentium quas quibusdam quos? Adipisci
      aperiam
      asperiores delectus doloremque dolorum eos est iure laborum maiores minus modi, molestiae neque nesciunt nostrum
      obcaecati odio perspiciatis quo sapiente veniam voluptas? A ab architecto aut, beatae corporis debitis delectus
      ducimus eligendi enim et eveniet excepturi expedita fugit ipsa iure laudantium magni maxime mollitia neque nihil
      officiis porro, quas quibusdam quod recusandae reiciendis repellat reprehenderit rerum sequi tempora temporibus
      totam
      ullam unde voluptate voluptatibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aperiam incidunt maiores nulla perferendis
      perspiciatis quas quo sint soluta voluptatum? Accusantium animi asperiores consectetur consequuntur eligendi optio
      porro praesentium sequi voluptatibus voluptatum! Ad consequuntur doloribus harum, labore molestiae natus nostrum
      nulla
      recusandae! A asperiores delectus distinctio dolor eius error facilis ipsa laboriosam odio perspiciatis placeat
      porro
      quae quis ratione recusandae sed ut, veniam. Autem commodi delectus doloribus exercitationem illum ipsum libero
      magnam
      magni perspiciatis, quidem quo recusandae rem rerum vero voluptatibus! Alias, at, beatae consequatur ex illum
      iusto
      laboriosam laudantium minus nulla quia quidem recusandae sed unde? A, accusamus aperiam atque consequatur
      cupiditate
      dolorem doloremque dolores ducimus esse, expedita id iure laborum magni maxime modi obcaecati odio odit
      perspiciatis
      quae quaerat quod repudiandae rerum sint temporibus unde veritatis voluptatum. Corporis cum, dolorem eveniet
      expedita
      hic illum, magni maxime minus nihil nulla odio pariatur quis quod recusandae temporibus. Accusantium, asperiores
      beatae consequuntur dolorem eum fuga, illum inventore libero magnam non placeat quaerat sapiente sequi soluta sunt
      totam veritatis! Accusantium assumenda consectetur eveniet maxime odio quae, quasi reprehenderit vero! Aperiam
      architecto at dicta, dolor ducimus ex facere harum impedit ipsam libero magni maxime, nam numquam, officia
      perspiciatis praesentium quam tempora ullam vitae.</p>

  </div>



  <div class="b-article__comments">
    <h3>Коментарии:</h3>

    <ul class="b-art-comments-list">
      <comment comments="ctrl.data.comments"></comment>
    </ul>

    <a href="" ng-if="!ctrl.showForm" ng-click="ctrl.toggleForm()">Комментировать</a>
    <a href="" ng-if="ctrl.showForm" ng-click="ctrl.toggleForm()">Скрыть форму</a>

    <form class="b-article-comment-add" ng-if="ctrl.showForm">
      <div class="b-article-comment-add__insr">
        Форма поддерживаем Markdown:
        <br>
        <br>
        # - Заголовок H1<br>
        ## - Заголовок H2<br>
        ### - Заголовок H3<br>
        #### - Заголовок H4<br>
        ##### - Заголовок H5<br>
        ###### - Заголовок H6<br>
        <br><br>
        `text` - code<br>
        *text* - italic<br>
        **text** - bold<br>
      </div>
      <h4>Добавить комментарий</h4>
      <label class="b-art-add-label" for="b-art-add-name">Имя:</label>
      <input id="b-art-add-name" class="b-art-add-input" ng-model="ctrl.addForm.name" type="text" required>
      <br>
      <label class="b-art-add-label" for="b-art-add-email">E-mail:</label>
      <input id="b-art-add-email" class="b-art-add-input" ng-model="ctrl.addForm.email"  type="email" required>
      <br>
      <label class="b-art-add-label b-art-add-label--textarea" for="b-art-add-textarea">Текст комментария:</label>
      <textarea id="b-art-add-textarea" class="b-art-add-input b-art-add-textarea" ng-model="ctrl.addForm.text" cols="30" rows="10" required></textarea>
      <br>
      <input type="submit" ng-disabled="addComment.$invalid" ng-click="ctrl.sendComment()">
    </form>

  </div>

</div>


