<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A autem consequuntur, deleniti deserunt dolor molestias
  similique! Architecto blanditiis ea incidunt laudantium praesentium quos, ullam. Accusamus alias animi at corporis cum
  cupiditate debitis delectus dignissimos dolores doloribus ducimus ea error, exercitationem facilis illum ipsa, itaque
  iusto laboriosam laborum libero molestiae necessitatibus odio omnis pariatur, perferendis praesentium provident
  quaerat quasi rem repudiandae saepe sapiente sit sunt temporibus unde voluptatem voluptatum! Architecto, assumenda
  blanditiis ex maiores veniam veritatis voluptates. Accusamus atque fugit id magnam, quo ullam! Assumenda, autem cum
  cumque id impedit laboriosam libero magni, molestias natus obcaecati quae quam quibusdam quos rerum sint, unde ut!
  Doloremque fugiat harum, itaque magnam minus molestiae, nam odio quia quo quod quos, repudiandae similique sint soluta
  voluptate? Culpa delectus dolor dolorem dolores earum eius, et fuga incidunt itaque magni, maiores minima, modi non
  officiis omnis repudiandae temporibus vitae voluptates. Amet aspernatur at delectus fuga hic in ipsa laboriosam
  laudantium maiores optio perspiciatis praesentium quasi quibusdam, repellendus repudiandae suscipit ullam unde
  veritatis voluptas voluptate. Aliquid aspernatur eaque numquam praesentium quo sunt, tenetur voluptate. Architecto
  aspernatur at aut commodi excepturi iste officia porro reprehenderit rerum saepe, sit soluta sunt tempore temporibus
  ullam! Ad consequuntur, culpa, debitis iure iusto maiores necessitatibus odit placeat possimus, praesentium quae
  quibusdam repellendus saepe sit tempore veritatis voluptate. Accusantium ad consequatur culpa cumque ducimus eius
  explicabo in iste maxime, nam necessitatibus neque nihil, placeat praesentium quas quibusdam quos? Adipisci aperiam
  asperiores delectus doloremque dolorum eos est iure laborum maiores minus modi, molestiae neque nesciunt nostrum
  obcaecati odio perspiciatis quo sapiente veniam voluptas? A ab architecto aut, beatae corporis debitis delectus
  ducimus eligendi enim et eveniet excepturi expedita fugit ipsa iure laudantium magni maxime mollitia neque nihil
  officiis porro, quas quibusdam quod recusandae reiciendis repellat reprehenderit rerum sequi tempora temporibus totam
  ullam unde voluptate voluptatibus.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aperiam incidunt maiores nulla perferendis
  perspiciatis quas quo sint soluta voluptatum? Accusantium animi asperiores consectetur consequuntur eligendi optio
  porro praesentium sequi voluptatibus voluptatum! Ad consequuntur doloribus harum, labore molestiae natus nostrum nulla
  recusandae! A asperiores delectus distinctio dolor eius error facilis ipsa laboriosam odio perspiciatis placeat porro
  quae quis ratione recusandae sed ut, veniam. Autem commodi delectus doloribus exercitationem illum ipsum libero magnam
  magni perspiciatis, quidem quo recusandae rem rerum vero voluptatibus! Alias, at, beatae consequatur ex illum iusto
  laboriosam laudantium minus nulla quia quidem recusandae sed unde? A, accusamus aperiam atque consequatur cupiditate
  dolorem doloremque dolores ducimus esse, expedita id iure laborum magni maxime modi obcaecati odio odit perspiciatis
  quae quaerat quod repudiandae rerum sint temporibus unde veritatis voluptatum. Corporis cum, dolorem eveniet expedita
  hic illum, magni maxime minus nihil nulla odio pariatur quis quod recusandae temporibus. Accusantium, asperiores
  beatae consequuntur dolorem eum fuga, illum inventore libero magnam non placeat quaerat sapiente sequi soluta sunt
  totam veritatis! Accusantium assumenda consectetur eveniet maxime odio quae, quasi reprehenderit vero! Aperiam
  architecto at dicta, dolor ducimus ex facere harum impedit ipsam libero magni maxime, nam numquam, officia
  perspiciatis praesentium quam tempora ullam vitae.</p>



<div class="b-article__comments">
  <h3>Коментарии:</h3>
  <ul class="b-art-comments-list">
    <li class="b-art-comment-item">
      <span class="t-parent_id"></span>
      <div class="b-art-comment-body">
        <div class="b-art-com-avatar">
          <img src="http://placehold.it/140x100" alt="">
        </div>
        <div class="b-art-com-box"></div>
      </div>
    </li>
    <ul class="b-art-reply-comments">
      <li class="b-art-comment-item">
        <span class="t-parent_id"></span>
        <div class="b-art-comment-body">
          <div class="b-art-com-avatar">
            <img src="http://placehold.it/140x100" alt="">
          </div>
          <div class="b-art-com-box"></div>
        </div>
      </li>
      <ul class="b-art-reply-comments">
        <li class="b-art-comment-item">
          <span class="t-parent_id"></span>
          <div class="b-art-comment-body">
            <div class="b-art-com-avatar">
              <img src="http://placehold.it/140x100" alt="">
            </div>
            <div class="b-art-com-box"></div>
          </div>
        </li>
        <ul class="b-art-reply-comments">
          <li class="b-art-comment-item">
            <span class="t-parent_id"></span>
            <div class="b-art-comment-body">
              <div class="b-art-com-avatar">
                <img src="http://placehold.it/140x100" alt="">
              </div>
              <div class="b-art-com-box"></div>
            </div>
          </li>
        </ul>
      </ul>
    </ul>
  </ul>
  <form class="b-article-comment-add">
    <h4>Добавить комментарий</h4>
    <label class="b-art-add-label" for="">Имя:</label>
    <input type="text" required>
    <br>
    <label class="b-art-add-label" for="">E-mail:</label>
    <input type="email" required>
    <br>
    <label class="b-art-add-label" for="">Текст комментария:</label>
    <textarea name="" id="" cols="30" rows="10" required></textarea>
    <br>
    <input type="submit">
  </form>


</div>

