<li class="b-art-comment-item" ng-repeat="item in comments track by $index">
  <span class="t-parent_id"></span>
  <div class="b-art-comment-body">
    <div class="b-art-com-avatar">
      <img ng-src="{{item.avatar}}" alt="">
    </div>
    <div class="b-art-com-box">
      <div class="b-art-com-box__info">
        <div class="b-art-com-box-info">
          <span class="b-art-com-box-info__name">{{item.name}}</span>
          <span class="b-art-com-box-info__time">{{item.time}}</span>
              <span class="b-art-com-box-info__rating">
                <button>+</button>
                <button>{{item.rating}}</button>
                <button>-</button>
              </span>
          <a class="b-art-com-box-info__reply" href="#">Ответить</a>
        </div>
      </div>
      <div class="b-art-com-box__text">{{item.text}}</div>
    </div>
  </div>
  <reply class="b-art-replay" ng-if="item.comments" comments="item.comments"></reply>
</li>
